body
{
    overflow-x: hidden;
    background-image: url(smileyzimg/photo_5094099073442622604_x.jpg);
    filter: blur();
    width: 100vh;
}
.roleall{
    background-image: url(smileyzimg/photo_5094099073442622604_x.jpg);
    background-position: center;
}
.smileyz{
    background-color: rgb(251, 192, 12);
    text-decoration: gold;
    position: relative;
    text-align: center;
   
    
}
.nigeriawide{
    margin-top: -17px;
   margin-left: 1650px; 
   font-size: 17px;
}
.fa-instagram{
    margin-left: -2000px;
}
.affordabl{
margin-top: -80px;
margin-left: 100px;
}
.onlineshop{
    font-size: 40px;
    text-align: center;
    border: 20px;
    border-radius: 50px;
    background-color: gold;    
    border-style: dashed;
    border-color: gold;
    position: relative;
    font-style: oblique;
}
.tech{
  
}

.roletwoclothing{
    width: 444px;
    height: 490px;
    border: 25px;
    border-radius: 30px;
    border-color: rgb(129,132,107);
    border-style: dashed;
}
.roletwotext{
    color: gold;
    font-size:50px;
    font-style: italic; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.roletwotogeda{
    display: flex;
    gap: 3%;
    text-align: center;
    
}

.allcontents{
    background-color: white;
}
.allbubu{

}

.signup{
    color: rgb(3, 2, 2);
}
.contactusnav{
    color: rgb(5, 0, 0);
}
.nigeriaworldwide{
    color: rgb(8, 1, 1);
}
.smileyzwrd{
    font-size: 100px;
    font-style: italic;
    color: gold;
    margin-left: 900px;
    margin-top: -5px;
}
.affordablefashion{
    margin-left: 1100px;
    margin-top: -100px;
    font-size: 20px; 
    color: rgb(10, 10, 10);
}
.shoppingretail{
    margin-left: 1100px;
    margin-top: -28px;
    color: rgb(242, 141, 9);
}