


body
{
    overflow-x: hidden;
    
}
.header{
   
}
#heemarrhcity{
    display: flex;
    justify-content: center;
    align-items:center;                                                                                                                                                                
}
.heemarrh{
    border: 5px solid black;
    width: 20%;
    height: 30vh;
    display: flex;
    border-radius: 20%;
    justify-content: end;
    align-items: end;
background-color: gold;
background-image: radial-gradient(gold, whitesmoke, orange);
transition: background-color 0.5s color whitesmoke;
transform: rotate3d(2, 1, 0, 30deg);   
}
.heemarrh:hover{
    background-color: red;
}

.smileyzabode{
    border: 5px solid black;
    width: 20%;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    border-radius: 20%;
    background-color: gold;
    background-image: radial-gradient(gold, whitesmoke, orange);
    transition: background-color 0.5s;
    transform: rotate3d(2, 1, 0, 30deg);   
}


.onlineshop{
   text-align: center;
   border: 20px solid burlywood;
   border-style: groove;
   border-radius: 15px;
   background-image: radial-gradient(whitesmoke, #146db6, yellow);
   color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bolder;
   font-size: 50px;
   box-shadow: 10px 15px 0px 0px orange;
   text-shadow: 0px 2px 5px yellow, 0px -5px 5px red;
   width: auto;
}
.tech{
  
}

.roletwoclothing{
    width: 444px;
    height: 490px;
    border: 25px;
    border-radius: 30px;
    border-color: rgb(129,132,107);
    border-style: dashed;
}
.roletwotext{
    color: gold;
    font-size:50px;
    font-style: italic; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.roletwotogeda{
    display: flex;
    gap: 3%;
    text-align: center;
    
}

.allcontents{
  background-image: url(smileyzimg/photo_5094099073442622604_x.jpg,);
  background-position: center;
  background-repeat: no-repeat;
  filter: blur();
}

.affordablefashion{
    margin-left: 1100px;
    margin-top: -100px;
    font-size: 20px; 
    color: rgb(10, 10, 10);
}
.shoppingretail{
    margin-left: 1100px;
    margin-top: -28px;
    color: rgb(242, 141, 9);
}